<template>
    <div class="modal">
        <div class="modal-content candidate-info">
            <div class="candidate-info__avatar">
                <img :src="user.photoUrl" :alt="`Photo of $(user.firstName) $(user.lastName)`">
            </div>
            <div class="candidate-info__list">
                <div class="candidate-info__list-row">
                    <span class="candidate-info__list-row-field">ID: </span>
                    <span class="candidate-info__list-row-value">{{user.id}}</span>
                </div>
                <div class="candidate-info__list-row">
                    <span class="candidate-info__list-row-field">First name: </span>
                    <span class="candidate-info__list-row-value">{{user.firstName}}</span>
                </div>
                <div class="candidate-info__list-row">
                    <span class="candidate-info__list-row-field">Last name: </span>
                    <span class="candidate-info__list-row-value">{{user.lastName}}</span>
                </div>
                <div class="candidate-info__list-row">
                    <span class="candidate-info__list-row-field">Job title: </span>
                    <span class="candidate-info__list-row-value">{{user.jobTitle}}</span>
                </div>
                <div class="candidate-button" @click="closeUser()">Close</div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        name: "CandidateInfoModal",
        props: ['user'],
        methods: {
            ...mapActions('users', ['closeUser'])
        }
    }
</script>

<style scoped>

</style>
