<template>
    <div class="candidates">
        <div class="candidates-header">List of candidates</div>
        <div class="candidates-table">
            <div class="candidates-table__header">
                <div class="candidates-table__column candidates-table__column-avatar"></div>
                <div class="candidates-table__column">Name</div>
                <div class="candidates-table__column">Surname</div>
                <div class="candidates-table__column">Job title</div>
                <div class="candidates-table__column"></div>
            </div>
            <div class="candidates-table__row" v-for="user in listOfUsers">
                <div class="candidates-table__column candidates-table__column-avatar">
                    <img :src="user.photoUrl" :alt="`Photo of $(user.firstName) $(user.lastName)`">
                </div>
                <div class="candidates-table__column">{{user.firstName}}</div>
                <div class="candidates-table__column">{{user.lastName}}</div>
                <div class="candidates-table__column">{{user.jobTitle}}</div>
                <div class="candidates-table__column candidate-button" @click="selectUser(user.id)">Show</div>
            </div>
        </div>
        <candidate-info-modal :user="selectedUser" v-if="selectedUser"></candidate-info-modal>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex'
    import CandidateInfoModal from "@/components/CandidateInfoModal";
    export default {
        name: "Candidates",
        components: {CandidateInfoModal},
        methods: {
            ...mapActions('users', ['getUsers', 'selectUser'])
        },
        computed: {
            ...mapState('users', ["listOfUsers", 'selectedUser'])
        },
        mounted() {
            this.getUsers()
        }
    }
</script>

<style scoped>

</style>
