.candidates {
  font-family: Roboto, sans-serif;

  &-header {
    font-size: 24px;
    margin-bottom: 40px;
  }

  &-table {
    &__header {
      display: flex;
      flex-direction: row;
      font-size: 20px;
      padding-bottom: 20px;
      color: rgba(0,0,0,.6);
      border-bottom: 1px solid #e5e5e5;
    }
    &__row {
      display: flex;
      align-items: center;
      margin-top: 50px;
    }
    &__column {
      width: 20%;
      padding: 0 5%;
      box-sizing: border-box;
      &-avatar {
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}

.candidate {
  &-info {
    display: flex;
    align-items: center;
    &__avatar {
      width: 40%;
      padding-right: 10%;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    &__list {
      &-row {
        margin-bottom: 40px;
        font-size: 20px;

        &-field {
          color: rgba(0, 0, 0, .6);
        }
      }
    }
  }

  &-button {
    border-radius: 5px;
    padding: 15px;
    background-color: #275DAD;
    color: white;
    text-align: center;
    cursor: pointer;
  }
}

