.modal {
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0,0,0,.6);
  position: fixed;

  &-content {
    width: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    padding: 5%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    transform: translate(-50%, -50%);
  }
}
